body {
  margin: 0;
  background: #bce6eb;
}

.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  width: 100%;
  margin-bottom: 2rem;
}

td {
  border-bottom: 0.1rem dotted black;
}

section {
  background: rgb(253, 207, 223);
  background: radial-gradient(
    circle,
    rgba(253, 207, 223, 1) 0%,
    rgba(252, 163, 204, 1) 50%,
    rgba(251, 190, 223, 1) 100%
  );
  margin: 2rem;
  padding: 1rem 2.5rem;
  border-radius: 1rem;
}
